<h1 class="title">{{title}} ({{year}})</h1>
<div class="movie-details">
  <img src="{{image}}" class="card-img-top" alt="movie image">
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <div class="detail-buttons">
      <a href="{{imdb}}">IMDB Link</a>
      <div>
        <a href="/{{title}}/details/edit" class="btn btn-primary edit">Edit</a>
        <a href="/{{title}}/details/delete" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
</div>